@import '../abstracts/mixins.module';

.layout{
  margin-top: 2%;
  margin-left: 16%;
  margin-right: 16%;

  @include respond(tab-land){
    margin-left: 10%;
    margin-right: 10%;
  }
  @include respond(phone) {
    margin-left: 10px;
    margin-right: 10px;
  }
}