.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);   ///배경에 픽스를 주고 투명도를 준다.
}

.subModal {
  width: 480px;
  height: 200px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.cancelButton{
  float: right;
}