@import '../abstracts/mixins.module';

.title{
  font-size: 1.3rem;
  font-weight: bold;
}

.novelIcon{
  margin : 20px;
  background-color: cornflowerblue;
  padding: 15px;
  border-radius : 15%;
  cusor: pointer;
}

.name{
  font-size: 1rem;
  font-weight: normal ;
  text-decoration: none;
  color: black;
}